.imageupload {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    /* position: fixed;
    bottom: 0; */
}

.imageupload__progress {
    width: 100%;
}

fabButton:hover {
    color: black;
}

