.post {
    background-color: white;
    width: 324px;
    border: 1px solid lightgray;
    margin: 0;
    margin-bottom: 35px;
    overflow-x: hidden;
}

@media screen and (max-width: 640px) {
    .post {
        max-width: 100%;
        align-self: center;
        align-content: center;
      /* align-items: center; */
        margin: 0;
        overflow-x: hidden;
        margin-bottom: 35px;
      /* margin: auto; */
    }
  }

.post__image {
    align-items: center;
    max-width: 100%;
    object-fit: contain;
    overflow-x: hidden;
    margin: 0;
    /* border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray; */
}

.post__text {
    font-weight: normal;
    padding: 15px;
}

.post__header {
    display: flex;
    align-items: center;
    padding: 7px
}

.post__headerleft {
    flex: 1;
    display: flex;
}

/* .post__avatar {
    display: flex;
    margin-right: 10px;
} */

.post__username {
    display: flex;
    margin-left: 10px;
    margin-top: 2px;
    /* margin-bottom: 6px; */
    color: 	#404040;
    font-weight: 600;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.post__captionusername {
    font-weight: 600;
    color: 	#404040;
} 

.post .post__deletebutton {
    /* position: absolute; */
    margin-left: 40px;

}

.post__parentdelete {
    display: flex;
    flex-direction: column;
}

.post__deletemessage {
    text-align: center;
    margin-bottom: 10px;
    color:#383838;
}

.post__commentBox {
    display: flex;
    margin-top: 10px;
}

.post__commentusername {
    font-weight: 600;
    color: 	#404040;
}

.post__input {
    flex: 1;
    border: none;
    padding: 10px;
    border-top: 1px solid lightgray;
}

.post__button {
    flex: 0;
    border: none;
    color: #6082a3;
    background-color: transparent;
    border-top: 1px solid lightgray;
}

.post__comments {
    padding: 15px;
}