* {
  margin: 0;
}

.App {
  background-color: #fafafa;
  /* height: 100vh; */
}

.app__posts {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.app_postsRight {
  margin-left: 15px;
  justify-content: center;
}

.app_postsLeft {
  justify-content: center;
}

@media screen and (max-width: 725px) {
  .app__posts {
    flex-direction: column;
    align-items: center;
  }

  .app_postsRight {
    justify-content: center;
  }

  .app_postsRight {
    margin-right: 15px;
    justify-content: center;
  }
}

.app__loginmessage {
  text-align: center;
  padding-bottom: 20px;
}